<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="tr.com.t2giants.androidcompetition" android:versionCode="1" android:versionName="0.0.1-SNAPSHOT">

  <application android:icon="@drawable/icon" android:label="@string/appName">
    <activity android:name="tr.com.t2giants.ring.client.RingMainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>

